#blog-container{
    margin-top: 14px;
  
}

.card {
    margin-top: 18px;
    border-radius: 30px;

}

#image-slider{
    padding-left: 0px;
    padding-right: 0px;

}
/* .container {
    margin-top: 20px;
    margin-bottom: 80px;
} */